@model ElectricBillWebApp.Models.Entities.TblBillHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill History</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsedUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsedUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepaidAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepaidAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemainAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemainAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FineAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FineAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
